
<h3>add a todo</h3>
<form (ngSubmit)="onSubmit()" >
    <div class="mb-3">
      <label for="Title" >Todo Title</label>
      <input type="text" class="form-control" 
     [(ngModel)]="title" class="form-control" id="title" name="title"> 
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Todo Description</label>
      <input type="text" class="form-control" name="desc" id="desc" [(ngModel)]="desc" >
    </div>
    
    <button type="submit" class="btn btn-primary">Add todo</button>
  </form>
